<h2>Message Sent To:</h2> <h4 class="text-warning"> <%= @message.to %></h4>
<h3>You Holla'ed, "like after the A you just add an apostrophe, then ED":</h3> <h4 class="text-success"> "<%= @message.body %>" </h4>
